.button {
	border-radius: 8px;
	padding: 12px;
	margin: 8px;
	outline: auto;
	cursor: pointer;
	font-size: 18px;
}

.button:disabled {
	background-color: grey;
	cursor: not-allowed;
}

.add {
	background-color: #6e6eee;
	color: #fff;
}

.clear {
	background-color: #f27d69;
	color: #fff;
	margin-top: 24px;
}
