.form {
	display: flex;
	flex-direction: column;
	border: 2px solid #877777;
	margin: auto;
	margin-top: 16px;
	border-radius: 8px;
	max-width: 50%;
	background-color: #e3ffff;
}

@media screen and (max-width: 800px) {
	.form {
		max-width: calc(100% - 16px);
	}
}
